In [129]:
import pandas as pd
import time

pd.options.display.max_rows = None
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = 20

In [130]:
horse_vs_df = pd.read_csv('3.4.horse_vs_data.csv')
horse_vs_df = horse_vs_df.iloc[:,:28]
df = pd.read_csv('3.1.df_add_id.csv')
print(len(horse_vs_df))
print(len(df))
# time.sleep(10)

16017
1366

着順の１位　＝　NAN 走ってないうま　＝　NAN これをくべつする

## メインデータの前処理

In [131]:
def preprocessing(df):
  # 着順
  df["着順"] = df["着順"].map(lambda x:str(x).replace('除外', "21"))
  df["着順"] = df["着順"].map(lambda x:str(x).replace('取消', "21"))
  df["着順"] = df["着順"].map(lambda x:str(x).replace('中止', "21"))
  df["着順"] = df["着順"].astype(int)
  # 性齢
  df["性"] = df["性齢"].map(lambda x:str(x)[0])
  df["齢"] = df["性齢"].map(lambda x:str(x)[1:]).astype(int)
  # 人気
  df["人気"] = df["人気"].map(lambda x:str(x).replace('nan', "21"))
  df["人気"] = df["人気"].map(lambda x:str(x).replace('.0', ''))
  df["人気"] = df["人気"].astype(int)
  # タイム
  df['タイム'] = df['タイム'].fillna("9:99.9")
  # 着差
  # df.loc[df['着差'] == "-", '着差'] = "除外"
  # df["着差"] = df["着差"].fillna("１着")
  # オッズ
  df["単勝オッズ"] = df["単勝オッズ"].fillna(0)
  df["単勝オッズ"] = df["単勝オッズ"].astype(float)
  # 後3F
  df["後3F"] = df["後3F"].fillna(99.9)
  df["後3F"] = df["後3F"].astype(float)
  # コーナー通過順
  df["コーナー通過順"] = df["コーナー通過順"].fillna(0-0-0-0)
  # 馬体重
  df["馬体重(増減)"] = df["馬体重(増減)"].fillna("999(999)")
  df["体重"] = df["馬体重(増減)"].str.split('(',expand=True)[0].astype(int)
  df["体重変化"] = df["馬体重(増減)"].str.split('(',expand=True)[1].str[:-1]
  df.drop(["馬体重(増減)",'性齢'],axis=1, inplace=True)
  # 日付
  df["date"] = pd.to_datetime(df["date"],format="%Y年%m月%d日")

  return df

## HorseResultsクラス

In [132]:
class HorseResults:
  def __init__(self,horse_vs_df):
    self.horse_results = horse_vs_df[["日付","着順","賞金"]]
    
  def preprocessing(self):
    df = self.horse_results.copy()
    # 着順
    df["着順"] = df["着順"].map(lambda x:str(x).replace('.0', ''))
    df["着順"] = pd.to_numeric(df["着順"],errors="coerce")
    df.dropna(subset=["着順"],inplace=True)
    df["着順"] = df["着順"].astype(int)
    # 日付
    df["date"] = pd.to_datetime(df["日付"])
    df.drop(["日付"],axis=1, inplace=True)
    
    self.horse_results = df

In [133]:
hr = HorseResults(horse_vs_df)
hr.preprocessing()
hr.horse_results.head()
# hr.horse_results.index = hr.horse_results.index.map(lambda x:str(x))

            着順     賞金       date
2018105875  10    NaN 2022-01-16
2018105875   6    NaN 2021-12-26
2018105875   9    NaN 2021-10-30
2018105875   4  170.0 2021-10-09
2018105875   1  760.0 2021-07-04

１度目の実行で必ずエラーが出る (なぜか１度目の実行でnanが表示されないから)

In [134]:
results_p = preprocessing(df)
len(results_p)

1366

In [135]:
# pd.options.display.max_rows = None
# for i in df.columns:
#   print(df[i].value_counts())
# results_p.info()

In [136]:
results_p.head()

,着順,枠,馬番,馬名,斤量,騎手,タイム,着差,人気,単勝オッズ,後3F,コーナー通過順,厩舎,date,race_type,course_ren,weather,ground_state,horse_id,jockey_id,性,齢,体重,体重変化
202101010101,1,5,9,ディーバサンライズ,52.0,△秋山稔,1:08.7,NaN,7,13.5,34.6,4-4,栗東小林,2021-06-12,芝,1200,小雨,良,2018105875,1181,牝,3,474,-22
202101010101,2,3,6,バンベルク,56.0,横山和,1:08.8,3/4,2,3.9,35.0,1-1,栗東安田隆,2021-06-12,芝,1200,小雨,良,2018105258,1140,牡,3,470,-2
202101010101,3,7,14,リツィタル,54.0,大野,1:08.9,1/2,14,124.7,34.0,11-10,栗東牧田,2021-06-12,芝,1200,小雨,良,2018101134,1096,牝,3,394,+2
202101010101,4,5,10,クレマチステソーロ,54.0,鮫島駿,1:09.0,1/2,5,7.6,35.2,2-2,美浦高木,2021-06-12,芝,1200,小雨,良,2018102791,1157,牝,3,468,+2
202101010101,5,3,5,ペイシャケイティー,54.0,古川吉,1:09.0,ハナ,4,7.5,34.5,7-7,美浦土田,2021-06-12,芝,1200,小雨,良,2018101539,1015,牝,3,456,+8

In [137]:
sample_data = results_p["date"].iloc[1]
sample_data

Timestamp('2021-06-12 00:00:00')

sample_dataの日付に走った馬のリスト

In [138]:
pd.options.display.max_rows = None

horse_id_list = results_p[results_p["date"] == sample_data]["horse_id"]
horse_id_list

202101010101    2018105875
202101010101    2018105258
202101010101    2018101134
202101010101    2018102791
202101010101    2018101539
202101010101    2018100570
202101010101    2018102192
202101010101    2018102626
202101010101    2018103582
202101010101    2018101518
202101010101    2018106100
202101010101    2018101447
202101010101    2018109106
202101010101    2018106896
202101010101    2018104780
202101010101    2018100737
202101010102    2018105205
202101010102    2018100974
202101010102    2018104870
202101010102    2018106453
202101010102    2018100926
202101010102    2018102052
202101010102    2018103196
202101010102    2018101898
202101010102    2018102542
202101010102    2018103594
202101010102    2018106609
202101010102    2018100435
202101010102    2018105770
202101010102    2018100706
202101010103    2018100403
202101010103    2018105166
202101010103    2018102691
202101010103    2018100708
202101010103    2018104849
202101010103    2018100066
202101010103    2018103698
202101010103    2018102187
202101010103    2018106086
202101010103    2018101887
202101010103    2018102272
202101010103    2018103483
202101010104    2018100537
202101010104    2018103489
202101010104    2018103004
202101010104    2018102954
202101010104    2018104804
202101010104    2018105800
202101010104    2018110026
202101010104    2018103204
202101010104    2018103059
202101010104    2018110105
202101010104    2018106334
202101010104    2018104676
202101010104    2018102444
202101010104    2018101597
202101010104    2018104222
202101010105    2019104536
202101010105    2019103120
202101010105    2019109094
202101010105    2019105476
202101010105    2019103815
202101010105    2019105130
202101010105    2019102456
202101010105    2019100985
202101010105    2019103276
202101010105    2019106490
202101010105    2019102467
202101010105    2019106524
202101010105    2019105105
202101010106    2018103266
202101010106    2018105036
202101010106    2018106496
202101010106    2018103702
202101010106    2018104311
202101010106    2018105010
202101010106    2018104211
202101010106    2018100857
202101010106    2018104274
202101010106    2018101449
202101010106    2018105591
202101010106    2018103492
202101010106    2018101101
202101010106    2018100955
202101010107    2018106580
202101010107    2017101162
202101010107    2018102229
202101010107    2018105495
202101010107    2017105400
202101010107    2017100050
202101010107    2018103529
202101010107    2018101608
202101010107    2016105005
202101010107    2018105247
202101010107    2017103469
202101010107    2017101561
202101010108    2017104478
202101010108    2016101241
202101010108    2017105571
202101010108    2017105117
202101010108    2016104238
202101010108    2017102945
202101010108    2017105368
202101010108    2018105157
202101010108    2017105874
202101010108    2018104151
202101010109    2018103736
202101010109    2018101075
202101010109    2018105202
202101010109    2018101722
202101010109    2017105454
202101010109    2018104860
202101010109    2018105316
202101010109    2018100600
202101010109    2018103993
202101010109    2017106020
202101010109    2017106232
202101010109    2018106653
202101010109    2017110168
202101010109    2018100399
202101010110    2018105521
202101010110    2017105655
202101010110    2017105402
202101010110    2018104716
202101010110    2014103521
202101010110    2016103067
202101010110    2018101729
202101010110    2017101523
202101010111    2016104751
202101010111    2017104059
202101010111    2017110103
202101010111    2017102105
202101010111    2016110058
202101010111    2015101239
202101010111    2017101248
202101010111    2017102946
202101010111    2017101943
202101010111    2018101559
202101010111    2017105060
202101010111    2015104546
202101010111    2017106131
202101010111    2016110126
202101010111    2017103895
202101010111    2018105595
202101010112    2016104410
202101010112    2017105198
202101010112    2013100731
202101010112    2015105451
202101010112    2017105137
202101010112    2015104299
202101010112    2015105960
202101010112    2016104819
202101010112    2017103020
202101010112    2016103323
202101010112    2015106499
Name: horse_id, dtype: int64

"3.4.horse_vs_data.csv"に取得できていないデータがたまにあるので、エラーが出たら再取得してコピペすれば解決する "3.0.add.id.ipynb"

In [140]:
target_df = hr.horse_results.loc[horse_id_list]
target_df
target_df[target_df["date"] < sample_data].groupby(level=0)[["着順","賞金"]].mean()

                   着順          賞金
2013100731   6.519231  328.826087
2014103521   4.315789  220.608333
2015101239   7.571429  253.500000
2015104299   7.368421  382.285714
2015104546   7.285714  283.750000
2015105451   5.739130  171.872727
2015105960   5.189189  104.214286
2015106499   5.730769  275.691667
2016101241   6.000000  232.075000
2016103067   8.518519  163.875000
2016103323   3.857143  249.125000
2016104238   5.846154  181.785714
2016104410   7.647059  241.375000
2016104751   6.260870  366.100000
2016104819   6.333333  422.720000
2016105005   7.066667  175.125000
2016110058   4.928571  273.536842
2016110126   7.117647  417.850000
2017100050   7.636364  228.333333
2017101162   6.875000  204.187500
2017101248   4.769231  342.425000
2017101523   6.333333  171.285714
2017101561   5.375000  260.000000
2017101943   8.083333  339.975000
2017102105   8.428571  417.716667
2017102945   7.888889  253.666667
2017102946   3.333333  290.000000
2017103020   4.736842  285.646154
2017103469   5.444444   12.283333
2017103895   6.928571  523.228571
2017104059   6.166667  440.266667
2017104478   7.181818  306.666667
2017105060   4.000000  495.680000
2017105117   5.000000  349.666667
2017105137   5.400000  442.500000
2017105198   5.125000  445.000000
2017105368   5.636364  190.833333
2017105400   6.071429   62.333333
2017105402   3.500000  259.072727
2017105454   5.800000  209.400000
2017105571   4.800000  168.888889
2017105655   7.307692  192.200000
2017105874   9.384615  306.666667
2017106020   5.000000  123.250000
2017106131   6.416667  353.257143
2017106232   5.125000  163.666667
2017110103   5.642857  408.557143
2017110168   5.333333   70.142857
2018100066   7.000000  110.000000
2018100399   4.333333  192.000000
2018100403  13.000000         NaN
2018100435  10.000000         NaN
2018100537  12.000000  110.000000
2018100570   3.555556  168.375000
2018100600   9.285714  510.000000
2018100706  10.000000  110.000000
2018100708   9.833333  130.000000
2018100737   9.000000   51.000000
2018100857  11.000000         NaN
2018100926   9.500000   51.000000
2018100955   4.800000  148.714286
2018100974   6.166667   98.500000
2018101075   7.000000  280.500000
2018101101   9.000000   60.000000
2018101134   7.500000  200.000000
2018101447   8.600000   60.500000
2018101449   6.166667  101.750000
2018101518  13.000000         NaN
2018101539   3.555556  136.125000
2018101559   5.857143  490.775000
2018101597   7.800000   51.000000
2018101608   7.500000  193.500000
2018101722   5.200000  232.333333
2018101729   8.750000  220.000000
2018101887  12.500000         NaN
2018101898  11.500000         NaN
2018102052   9.555556   70.000000
2018102187   7.000000   70.000000
2018102192   5.250000  152.200000
2018102229   6.142857  232.333333
2018102272   8.000000         NaN
2018102444   6.200000  130.000000
2018102542  11.000000         NaN
2018102626   6.200000  138.500000
2018102691   9.500000         NaN
2018102791   6.428571  135.666667
2018102954   9.400000         NaN
2018103004   4.800000  170.000000
2018103059  10.500000         NaN
2018103196   7.727273  125.500000
2018103204   7.200000   51.000000
2018103266   4.166667  110.800000
2018103483   4.285714  170.200000
2018103489   5.500000  111.333333
2018103492  13.000000         NaN
2018103529   8.363636  239.000000
2018103582   6.571429   86.000000
2018103594   8.166667   51.000000
2018103698  10.142857         NaN
2018103702  13.000000         NaN
2018103736   3.000000  395.000000
2018103993   4.875000  222.000000
2018104151   7.166667  232.333333
2018104211   5.800000   57.333333
2018104222   6.166667  180.000000
2018104311   6.714286  103.500000
2018104676   5.666667   90.000000
2018104716   3.000000  295.500000
2018104780   4.333333  118.800000
2018104804   6.800000   60.500000
2018104849   7.750000   51.000000
2018104860   8.400000  510.000000
2018104870   7.500000         NaN
2018105010   7.600000  205.000000
2018105036   4.333333  177.500000
2018105157   6.600000  700.000000
2018105166   8.000000   93.500000
2018105202   6.333333  355.000000
2018105205   4.571429  108.800000
2018105247   8.285714  320.000000
2018105258   2.600000  177.400000
2018105316   3.500000  510.000000
2018105495   3.500000  256.666667
2018105521   4.900000  196.300000
2018105591   8.500000         NaN
2018105595   3.818182  170.137500
2018105770  11.750000         NaN
2018105800   8.666667         NaN
2018105875   6.000000         NaN
2018106086   8.000000   51.000000
2018106100   9.000000  150.000000
2018106334   9.000000   77.000000
2018106453   3.666667  106.666667
2018106496   5.000000   77.000000
2018106580   4.250000  327.000000
2018106609   8.142857   70.000000
2018106653   5.333333   53.166667
2018106896   6.000000   51.000000
2018109106  13.500000         NaN
2018110026   4.500000  120.333333
2018110105   9.000000         NaN